.DS_Store
/build/
/.gradle/
/.gradle/**
/devlibs/
/build/
/generated/
/tmp/
*.so
*.dll
*.class
*.jar
/.idea/
*.iml
*.ipr
*.iws
/.vscode/
.DS_Store
/run/
*.log
run/logs/
/node_modules/
/build/tmp/
/build/loom-cache/
.cache/
bin/
compiled/
#.gz
#.log
compile_commands.json
/work files/
*.metallib
*.dylib
*.air

